<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="Cocoon -Portfolio">
    <meta name="keywords" content="Cocoon , Portfolio">
    <meta name="author" content="Pharaohlab">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title>upload - Cocoon</title>
    <!-- ========== Favicon Ico ========== -->
    <link rel="icon" href="{% static 'Chappie.png' %}">
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link  type="text/css" rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}">
  
    <!-- Fonts Icon CSS -->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/et-line.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/ionicons.min.css' %}" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="{% static 'assets/css/slick.css' %}" rel="stylesheet">
    
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>
<body>
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<div class="body-container container-fluid">
    <a class="menu-btn" href="javascript:void(0)">
        <i class="ion ion-grid"></i>
    </a>
    <div class="row justify-content-center">
        <!--=================== side menu ====================-->
        <div class="col-lg-2 col-md-3 col-12 menu_block">

            <!--logo -->
            <div class="logo_box">
                <a href="/">
                    <img src="{% static 'assets/img/logo.png' %}" alt="cocoon">
                </a>
            </div>
            <!--logo end-->

             <!--main menu -->
            <div class="side_menu_section">
                <ul class="menu_nav">
                    <li>
                        <a href="/"><img src="{% static 'button25.png' %}" alt="cocoon">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="about.html"><img src="{% static 'image25.png' %}" alt="cocoon">
                            Add Photos
                        </a>
                    </li>
                  
                    <li class="active">
                        <a href="portfolio.html">
                            Category
                        </a>
                    </li>
                   
                    {% for category in cata %}
                    <li>
                        <a href="{% url 'home'%}?category={{category.name}}"><img src="{% static 'folder25.png' %}" alt="cocoon">
                            {{category.name}}
                        </a>
                    </li>
                    {% endfor %}
                   
                </ul>
            </div>
            <!--main menu end -->

          


            <!--social and copyright -->
            <div class="side_menu_bottom">
                <div class="side_menu_bottom_inner">
                    <ul class="social_menu">
                        <li>
                            <a href="#"> <i class="ion ion-social-pinterest"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="ion ion-social-facebook"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="ion ion-social-twitter"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="ion ion-social-dribbble"></i> </a>
                        </li>
                    </ul>
                    <div class="copy_right">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
            <!--social and copyright end -->

        </div>
        <!--=================== side menu end====================-->

        <!--=================== content body ====================-->
        <div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
            <div class="row justify-content-center">
          
                <div class="col-md-6">   
                    <div class="card">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                          
                            <div class="form-group m-3">
                                <label>Select Category</label>
                                <select name="category" class="form-control">
                                <option value="none">Select a Categories</option>
                                {% for cat in cata  %}
                                     <option value="{{cat.id}}">{{cat.name}}</option>
                                {% endfor %}
                               
                               
                               
                                    
                                </select>
        
                            </div>
                            <div class="form-group m-3">
                                <label>Create New Category</label>
                                <input name="Category_new" type="text" class="form-control">
        
                            </div>
                            <div class="form-group m-3">
                                <label>Upload a File</label><br>
                                <input type="file"multiple class="form-control-file" name="image">
        
                            </div>
                            <button type="submit" class="btn btn-dark btn-lg m-4">Submit</button>
                        </form>
        
                    </div>
                </div>    
                
        
            </div>
            
        </div>    
        <!--=================== content body end ====================-->
    </div>
</div>



<!-- jquery -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'js/vendor/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
<!--slick carousel -->
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<!--Portfolio Filter-->
<script src="{% static 'assets/js/imgloaded.js' %}"></script>
<script src="{% static 'assets/js/isotope.js' %}"></script>
<!-- Magnific-popup -->

<!--Counter-->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<!-- WOW JS -->
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<!-- Custom js -->
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>